<div class="Wrapper">
        <p><b>Hello <%=name %>!<b></p><br>
        <p> We are pleased to inform you that your insurance policy with PolicyPlace has been successfully renewed. Your continued trust in our services is greatly appreciated, and we remain committed to providing you with the best possible coverage and support.</p><br>
        <br>
        <p><b>Policy Details:</b></p>
        <p>
           <span>Policy Number : <%=policy_no %></span><br>
            <span>Customer ID : <%=customer_id %></span><br>
            <span>Renewal Date : <%=issue_date %></span><br>
            <span>Coverage Period : <%=issue_date %> to <%=expiry_date %></span><br>
        </p>
        <br>
        <p>Thank you for choosing PolicyPlace. We value your business and look forward to continuing to serve you.</p>
        <p>
          <b>Thanks & Regards</b>
           <p>Policyplace</p>  
        </p>
</div>